@use '@/app/(pages)/_globals/mixins.scss';

.page {
  h1 {
      color: var(--gold);
  }
}

.bullet {
  padding-left: 1.75rem;
  list-style-type: disc;
}

.link {
  &:link, &:hover, &:visited, &:active {color: black;}
}

.column {
  display: flex;
  flex-direction: column;
  gap: 2.3rem;
}

.resourcesContainer {
  background-color: #FCF1D1;
  padding: 5.25rem 1rem
}

.resourcesBody {
  justify-content: center;
  position: relative;
  background-color: #FCF1D1; //add to globals
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  @include mixins.phone {
    flex-direction: column;
  }
} 
