@use "./mixins.scss";

:root {
    // primary colors
    --white: #FAFAFA;
    --Aggie-Space: linear-gradient(200deg, #04164F 7.1%, #3D1069 62.03%, #750B83 94.99%);

    // secondary colors
    --gold: #E4A135;
    --light-purple: #CFBAE8;
    --dark-purple: #161457;

    // accent
    --black: #222;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--white);
    font-family: var(--font1);
    color: var(--black);
}

// Heading
h1 {
    @include mixins.fontStyle(4rem, 700, auto, var(--font1));
}

// Heading 2
h2 {
    @include mixins.fontStyle(2rem, 700, auto, var(--font1));
}

// Body
p {
    @include mixins.fontStyle(1rem, 400, auto, var(--font1));
}