@use 'app/(pages)/_globals/mixins.scss';
.breatheWrapper {
  width: 100vw;
  min-height: 100vh; // ensure full screen
  overflow: hidden;
  background-color: #225A7F;
  background-image: url('/images/destress/breathe-cropped.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;

  display: flex;
  align-items: center;
  justify-content: center;

  @include mixins.phone {
    position: relative;
    height: auto;
    min-height: 100vh;
    background: none;
    padding: 0;
    overflow-y: auto;

    &::before {
      content: '';
      display: block;
      width: 100vw;
      aspect-ratio: 720 / 1100;
      background-image: url('/images/destress/breathemobile.svg');
      background-size: 100% auto;
      background-repeat: no-repeat;
      background-position: center -4px; 
    }
  }
}


.circleContainer {
  position: relative;
  width: 300px;
  height: 300px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  @include mixins.phone {
    position: absolute;
    top: 40%; // You can fine-tune this if needed
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16.56rem;
    height: 16.56rem;
  }
}

.outerCircle {
  width: 25rem;
  height: 25rem;
  flex-shrink: 0;
  position: absolute;
  border-radius: 50%;
  background: #A9BED1;
  z-index: 2;

  @include mixins.phone {
    width: 30rem;
    height: 30rem;
    flex-shrink: 0;
  }
}

.timerRing {
  width: 25rem;
  height: 25rem;
  flex-shrink: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 3;

  @include mixins.phone {
    width: 30rem;
    height: 30rem;
    flex-shrink: 0;
  }
}

.innerCircle {
  width: 20rem;
  height: 20rem;
  flex-shrink: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #DBE5ED;
  border-radius: 50%;
  z-index: 4;
  animation: pulse 6s infinite ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;

  @include mixins.phone {
    width: 20rem;
    height: 20rem;
    flex-shrink: 0;
  }
}

.breatheText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  color: #000;
  font-weight: bold;
  text-align: center;
  z-index: 5;
  pointer-events: none;

  @include mixins.fontStyle(2rem, 700, normal, 'Jua');

  @include mixins.phone {
    font-size: 2rem;
  }
}

@keyframes pulse {
  0%, 100% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.1);
  }
}