.hero {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.content {
    color: var(--black);
    padding: 2rem;

    h1 {
        font-size: 4rem;
        font-family: 'JejuMyeongjo', serif;
    }

    p {
        margin-top: 1rem;
        font-size: 1.5rem;
        font-family: 'Jua', sans-serif;
    }
}