.hero {
    position: relative;
    width: 100%;
    min-height: 100vh;
    margin-top: -110px; // pull hero up behind the navbar
    padding-top: 200px; // prevent text from hiding behind navbar
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding-bottom: 220px;
}

 .bgImage {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: auto;
 }

 .content {
     position: relative;
     z-index: 1;
     text-align: center;
     color: var(--white);
     padding: 2rem;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     gap: 1.5rem;
 }

 .h1 {
     color: var(--white);
     -webkit-text-stroke-width: 1px;
     -webkit-text-stroke-color: #FFF;
     font-family: JejuMyeongjo;
     font-size: 96px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
 }

 .p {
     color: var(--white);
     font-family: Jua;
     font-size: 37.8px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
 }