@use "../../../_globals/mixins.scss";


    
.FooterContainer {
    padding: 93px 77px;
    color: var(--black);
    font-family: 'Jua';
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 481px;

    background-repeat: no-repeat;
    background-size: 93% auto;
    background-position: center calc(100% - 20px);
    &.HomeFooter {
        background-color: var(--day-mint);
        background-image: url("/images/footer/HomeBg.svg");
    }

    &.ResourcesFooter {
        background-color: var(--sunset-peach);
        background-image: url("/images/footer/ResourcesBg.svg");
    }

    &.DeStressFooter {
        background-color: var(--night-fog);
        background-image: url("/images/footer/DeStressBg.svg");    
    }
}

.FooterColumnsWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
}

.FooterMain {
    flex: 1;
    max-width: 350px;
    display: flex;
    flex-direction: column;

    h1 {
        font-size: min(2vw, 34px);
        font-weight: 400;
        margin-bottom: 26px;
        font-family: 'Jua';
    }

    p {
        font-size: 14px;
    }

}

.FooterColumn {
    min-width: 150px;
    display: flex;
    flex-direction: column;

    h2 {
        font-size: min(2vw, 34px);
        font-weight: 400;
        margin-bottom: 12px;
        
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        margin-top: 26px;
        font-size: 14px;
    }
    
    a { 
        color: var(--black);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

}


.FooterBottom {
    background-color: var(--white);
    padding: 20px 30px;
    display: flex;  
    justify-content: space-between; 
    align-items: center;
    margin-top: auto;

    p {
        margin: 0;
        font-size: 18px;
    }
}

.FooterIcons {
    display: flex;
    gap: 15px;

    a {
        color: inherit;
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


.FooterLogo {
    width: 120px;
    height: auto;
}



@include mixins.tablet {
    .Footer {
        flex-direction: column;
        align-items: center;
        gap: 60px;
    }

    .FooterMain {
        align-items: center;
        text-align: center;

        h {
            font-size: 1rem;
        }

        p {
            display: none;
        }
    }

    .FooterColumnsWrapper {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .FooterColumn {
        align-items: center;
        text-align: center;
    }

    .FooterBottom {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .FooterIcons {
        justify-content: center;
    }

    .links {
        display: none;
    }

    .FooterContainer {
        background-position: center;
        background-size: calc(100% - 40px) calc(100% - 40px);
        min-height: 253px;

        &.HomeFooter {
            background-image: url("/images/footer/grass.svg");
        }
        &.ResourcesFooter {
            background-image: url("/images/footer/grass.svg");
        }
        &.DeStressFooter {
            background-image: url("/images/footer/destress_grass.svg");
        }
    }
}
