@use "../../../_globals/mixins.scss";

.MissionSection {
    position: relative;
    padding: 80px 40px;
    overflow: hidden;
    background-color:  var(--day-sky);
}

.MissionContent {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.MissionCard {
    border-radius: 20px;
    padding: 30px;
    width: 300px;
    height: 300px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 100%;
        height: auto;
        object-fit: contain;;
    }
}

.MissionText {
    max-width: 600px;
    color: var(--black);

    h1 {
        font-family: 'JejuMyeongjo', serif;
        font-size: 32px;
        margin-bottom: 20px;
    }

    p {
        font-family: 'Jua', sans-serif;
        font-size: 16px;
        line-height: 1.6;
        margin-bottom: 16px;
    }
}

@include mixins.phoone {
    .MissionSection {
        padding: 60px 20px;
        text-align: center;

    }

    .MissionContent {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .MissionCard {
        width: 260px;
        height: auto;
        padding: 20px;
        border-radius: 25px;

        img {
            width: 100%;
            height: auto;
        }
    }

    .MissionText {
        padding: 0 10px;
        h1 {
            font-family: 'JejuMyeongjo', serif;
            font-size: 28px;
            margin-bottom: 24px;
        }
        p {
            font-family: 'Jua', sans-serif;
            font-size: 16px;
            line-height: 1.7;
            margin-bottom: 20px;
        }
    }
}