@import url(https://db.onlinewebfonts.com/c/1a5c2d8bbd4e28d99a6efcbb9a5b378f?family=JejuMyeongjo);

@font-face {
    font-family: "JejuMyeongjo";
    src: url("https://db.onlinewebfonts.com/t/1a5c2d8bbd4e28d99a6efcbb9a5b378f.eot");
    src: url("https://db.onlinewebfonts.com/t/1a5c2d8bbd4e28d99a6efcbb9a5b378f.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/1a5c2d8bbd4e28d99a6efcbb9a5b378f.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/1a5c2d8bbd4e28d99a6efcbb9a5b378f.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/1a5c2d8bbd4e28d99a6efcbb9a5b378f.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/1a5c2d8bbd4e28d99a6efcbb9a5b378f.svg#JejuMyeongjo")format("svg");
}

.background {
    position: fixed; /* Makes the background cover the entire viewport */
    top: 0;
    left: 0;
    width: 100vw; /* Full width of the viewport */
    height: 100vh; /* Full height of the viewport */
    background-image: url("/images/destress_relaxing_sounds/Music_Section.png");
    background-size: cover; /* Ensures the image covers the entire viewport */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    z-index: -1; /* Places the background behind other content */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white; /* Optional: Adjust text color for visibility */
}
.title {
    font-size: 3.125rem; /* 50px / 16 = 3.125rem */
    font-family: 'JejuMyeongjo', Times, serif; /* Correct font-family name */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -100px;   /* 109px / 16 = 6.8125rem */
    margin-bottom: 6.125rem; /* 98px / 16 = 6.125rem */
    text-align: center;
}
.musicCardContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 55px;
    margin-top: 20px;
}
.scrollButtons {
    width: 54px;
    height: 54px;
    flex-shrink: 0;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}
.cardsTrack{
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: calc((281px * 3) + (55px * 2)); /* 3 cards + 2 gaps */
    gap: 55px;
    
}