@use "@/app/(pages)/_globals/mixins.scss";
.background {
    width: 100%; /* Full width of the viewport */
    height: 760px;
    background-image: url("/images/destress_relaxing_sounds/Music_Section.png");
    background-size: cover; /* Ensures the image covers the entire viewport */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    z-index: 0; /* Places the background behind other content */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white; /* Optional: Adjust text color for visibility */
}
.title {
    font-size: 3.125rem; /* 50px / 16 = 3.125rem */
    @include mixins.fontStyle(3.125rem, 400, normal,JejuMyeongjo);
    line-height: normal;
    margin-top: -100px;   /* 109px / 16 = 6.8125rem */
    margin-bottom: 6.125rem; /* 98px / 16 = 6.125rem */
    text-align: center;
}

.musicCardContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.25rem;
    max-width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    gap: 2rem;

    @include tablet {
        padding: 0px;
    }

    @include v-sm-phone {
        gap: 0px;
    }
}

.cardsTrack {
    display: flex;
    gap: 9rem; /* 144px */
    width: 1275px;
    max-width: 100%;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
    overflow: hidden;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    @include tablet {
        width: 301px; // musicCard width + padding
        gap: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.scrollButtons {
    width: 20px;
    height: 32px;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s ease;

    &:hover {
        transform: scale(1.1);
    }

    &:active {
        transform: scale(0.95);
    }
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

// musicCard.module.scss
.cardContainer {
    position: relative;
    width: 17.5625rem; /* 281px */
    height: 24.1875rem; /* 387px */
}

.card {
    width: 100%; // NOT 120.43%!
    height: 100%;
    // ...rest of your styles
}