 // Import global styles
 
.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 0.5rem 1rem;
    display: flex;
    background: transparent !important;
    border: none;
    justify-content: space-between;
    align-items: center;
}


.nav-logo {
        width: 101.924px;
        height: 89px;
        flex-shrink: 0;
        aspect-ratio: 101.92/89.00;
    }
.nav-contact {
    a {
        width: 118px;
        height: 49px;
        flex-shrink: 0;
        padding: 0.5rem 1.5rem;
        border: none; 
        border-radius: 999px; 
        background: var(--day-sun);
        color: var(--black); 
        transition: all 0.3s ease; 
    }

    a:hover {
        background-color: var(--day-sun);
        color: var(--white);
    }
}


.nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;

    .nav-link {
        a {
            width: 134.662px;
            height: 36.619px;
            flex-shrink: 0;
            text-decoration: none;
            transition: color 0.3s ease;
            color: var(--black);
            color: #000;
            font-family: 'JejuMyeongjo';
            font-size: 23.625px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

            &:hover {
                opacity: 0.7;
                
            }
        }
    }
}

/* Styles based on the route */
.navbar-morning .nav-link a {
    color:var(--black); 
}

.navbar-noon .nav-link a {
    color: var(--black); 
}

.navbar-night .nav-link a {
    color: var(--white); 
}

.navbar-contact .nav-link a {
    color: var(--black); 
}

.navbar-night .nav-contact a {
    background-color: var(--night-moon);
    color: var(--white);
}